// HEADER HOME //

.home_header {
  width: 100%;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_headerContainer {
  width: 100%;
  height: 63px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media screen and (min-width: 1440px) {
    height: 96px;
  }
}


.home_title {
  font-size: 30px;
  font-family: "Shrikhand";
}

// HEADER La Palette Du Goût  //

.header_container {
  width: 100%;
  height: 63px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.header {
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
}

.header_logo {
 
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @media screen and (min-width: 1440px) {
    width: auto;
  }
}

.header_containerTitle {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header_title {
  font-size: 30px;
  font-family: "Shrikhand";
}

.header_location {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  gap: 17px;
}

#location_pin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
  color: #353535;
}

.location_input {
  border: none;
  background-color: #eaeaea;
  color: #353535;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

